@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
/* New style */
.board-container {
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  z-index: 10;
  padding-bottom: 24px;
  height: calc(100% - 110px) !important;
}

.board-header {
  text-align: left;
  height: 30px !important;
  padding-top: 10px;
  padding-left: 15px;
}

.board-header span {
  color: white;
  font-size: 14px !important;
  font-weight: bold;
}

.board-header a {
  color: white;
  right: 40px;
  position: absolute;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 90px;
  height: 20px;
}

.board-header a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.color-fill {
  background: #0079bf;
}

.color-fill-pink {
  background: pink;
}

.new-card {
  margin-bottom: -4px;
  padding-top: 10px;
  bottom: 0;
  left: 2px;
  width: 95%;
  height: 30px;
}

.new-card a {
  font-size: 12px;
  color: black;
  cursor: pointer;
}

.item-card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  min-height: 50px;
  min-width: 50px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  color: black;
}

.item-card:hover {
  background: lightsteelblue;
  cursor: pointer;
}

.card-id-container {
  top: 0;
  left: 0;
  background-color: darkorange;
  border-top-left-radius: 5px;
  font-weight: bold;
  font-size: 8px;
  display: inline-block;
}

.card-label-container {
  position: absolute;
  top: 0;
  right: 3px;
  display: inline-block;
}

.card-label-container .card-label {
  font-size: 8px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
}

.card-details-container {
  display: inline-block;
}

.card-content {
  margin: 10px;
  font-size: 12px;
}

.card-content img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 150px;
  margin-bottom: 5px;
}

.card-footer {
  margin: 10px;
  padding: 5px;
}

.card-footer .card-members {
  position: relative;
  bottom: 0;
  right: 3px;
}

.card-footer .card-members img {
  border-radius: 5px;
}

/* LABEL TEST */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 50%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #636b6f;
  margin-right: 4px;
}

.label-red {
  background-color: red;
}

.label-green {
  background-color: #0bad25;
}

.label-bg {
  font-size: 70%;
}

.border-red {
  border: 2px red solid;
}

.border-orange {
  border: 2px orange solid;
}

.list {
  margin: 10px;
  min-width: 270px;
  max-width: 270px;
  height: calc(100% - 30px);
}

.list-header {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
  color: black;
  padding-bottom: 5px;
}

.list-container {
  background: #e2e4e6;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.list-item-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.new-list {
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  background: rgba(0, 0, 0, 0.12);
}

.new-list a {
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.new-list a:hover {
  color: white;
}

.menu-container {
  width: 300px;
  height: calc(90% - 30px);
  right: 45px;
  background: #e2e4e6;
  position: absolute;
  z-index: 10;
  border-radius: 1px;
  box-shadow: 5px 5px 5px #000000;
}

.menu-container hr {
  color: gray;
  background: gray;
  height: 2px;
}

.menu-header {
  text-align: center;
  color: black;
}

.menu-header h3 {
  margin-top: 10px;
}

.text-content {
  margin: 5px;
  width: 100%;
  border-radius: 6px;
  min-height: 80px;
  border: none;
}

.btn-add {
  background: #0bad25;
  border-radius: 6px;
  color: white;
  border: none;
}

.btn-cancel {
  background: none;
  border-radius: 6px;
  color: darkgray;
  border: none;
  font-size: 20px;
}

.btn-margin {
  padding: 6px;
}

.tool-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #636b6f;
  background-color: #fff;
  text-transform: none;
  overflow: visible;
  text-decoration: none;
}

.tool-button:hover {
  color: #636b6f;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.tool-button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.button-red {
  background: #9f0000;
  color: white;
}

.button-red:hover {
  background: rgba(255, 0, 0, 0.35);
  color: white;
}

.button-green {
  background: green;
  color: white;
}

.button-green:hover {
  background: rgba(0, 128, 0, 0.36);
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  min-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header input[type=text] {
  width: calc(100% - 34px);
}

.sub-title {
  padding-left: 3px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  font-size: 10px;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}

.modal-toolbar {
  padding: 2px 16px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.modal-toolbar-status {
  padding-bottom: 7px;
  color: rgba(146, 146, 146, 0.95);
  font-size: 12px;
  text-align: left;
  display: -webkit-box;
  display: flex;
}

.modal-labels {
  text-align: right;
  position: absolute;
  right: 10px;
}

.card-description {
  width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  max-height: 100px;
  height: 100px;
}

.no-italic {
  font-style: normal;
}

.input-control {
  padding: 5px;
  margin-top: 5px;
  color: black;
  border-radius: 5px;
  border: none;
}

.label-list {
  padding: 0;
  margin: 0 0 10px;
}

.label-list li {
  cursor: pointer;
  position: relative;
  padding: 5px 5px 5px 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-list li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 2px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 16px;
  width: 7px;
}

.label-list .label-select {
  margin: 2px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #0bad25;
  display: -webkit-box;
  display: flex;
}

.modal-section-toolbar {
  padding: 2px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-section-toolbar input[type=text] {
  width: 92%;
}

.modal-table {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
}

.modal-table th, .modal-table td {
  text-align: left;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-table .td-controls {
  text-align: right;
}

.upload-container {
  width: 100%;
  border: 2px dashed #0087F7;
  background: white;
  height: 40px;
}

.upload-container h1 {
  font-size: 14px;
  text-align: center;
  color: rgba(146, 146, 146, 0.95);
}

.user-table {
  font-size: 14px;
}

.user-table img {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 10px;
}

.modal-new {
  width: 20%;
  min-width: 400px !important;
}

.edit-label {
  width: calc(100% - 34px);
  display: -webkit-box;
  display: flex;
}

body {
  margin: 0 !important;
  font-family: 'Raleway', sans-serif !important;
}

.site-header {
  text-align: center;
  width: 100%;
  height: 40px !important;
  padding-top: 5px;
  background: #3c6996;
  color: white;
}

.site-header span {
  font-weight: bold;
}

.fill-page-container {
  overflow: scroll;
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  left: 0;
  margin: 0;
}

.user-section {
  padding: 2px;
  width: 200px;
  height: 30px;
  background: rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: flex;
  right: 30px;
  top: 5px;
  position: absolute;
  border-radius: 5px;
}

.user-section img {
  height: 25px;
  width: 25px;
}

.user-section span {
  margin-left: 10px;
}

.user-section i {
  margin-top: 5px;
  right: 15px;
  position: absolute;
}

.dashboard-container {
  width: 95vw;
  height: 90vh;
  margin: 25px auto;
  background: rgba(110, 123, 145, 0.5);
  position: relative;
  color: white;
}

.sub-header {
  color: white;
  text-align: center;
  padding-top: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
}

/*
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  margin:0px;
  padding:0px;
  font-family: 'Raleway', sans-serif;
  color:#333;
}
body {
  background-color:#ecf0f1;
}
#home {
  width:100%;
  height:92.8vh;

}
.lr-wrapper {
  max-width:100%;
  height:500px;
  margin-top:5%;
}
.lr-content {
  height:500px;
  width:400px;
}
.lr-head {
  width:100%;
  height:50px;
}
.lr-l_b {
  width:49.8%;
  height:50px;
  float:left;
  background-color:#e74c3c;
  transition: background-color 0.8s ease;
  cursor:pointer;
}
.lr-l_b > div {
  height:7px;
  width:100%;
}
.lr-l_b > span {
  width:100%;
  font-size:30px;
  height:30px;
  padding-top:5px;
  color:white;
  transition: color 0.8s ease;
}
.lr-r_b {
  width:49.7%;
  height:50px;
  float:right;
  transition: background-color 0.8s ease;
  cursor:pointer;
}
.lr-r_b > div {
  height:7px;
  width:100%;
}
.lr-r_b > span {
  width:100%;
  font-size:30px;
  height:30px;
  padding-top:5px;
  transition: color 0.8s ease;
}
#l-f {
  transition: display 1.8s ease;
}
.l-username {
  width:94%;
  height:40px;
  margin-top:100px;
  padding-left:20px;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  border:1px solid #b3b3b3;
  transition:border 1.0s ease;
}
.l-username:focus {
  border:1px solid #FF5252;
}

.l-password {
  width:94%;
  height:40px;
  margin-top:20px;
  padding-left:20px;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  border:1px solid #b3b3b3;
  transition:border 1.0s ease;
}
.l-password:focus {
  border:1px solid #FF5252;
}
.l-submit {
  width:150px;
  height:50px;
  margin-top:20px;
  border:none;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  background-color:#e74c3c;
  color:white;
  border-bottom:5px solid #c0392b;
  cursor:pointer;
}
#r-f {
  display:none;
}
.r-email {
  width:94%;
  height:40px;
  margin-top:100px;
  padding-left:20px;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  border:1px solid #b3b3b3;
  transition:border 1.0s ease;
}

.r-username {
  width:94%;
  height:40px;
  margin-top:20px;
  padding-left:20px;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  border:1px solid #b3b3b3;
  transition:border 1.0s ease;
}
.r-password {
  width:94%;
  height:40px;
  margin-top:20px;
  padding-left:20px;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  border:1px solid #b3b3b3;
  transition:border 1.0s ease;
}
.r-submit {
  width:150px;
  height:50px;
  margin-top:20px;
  border:none;
  outline:none;
  font-size:25px;
  font-family:Raleway;
  background-color:#e74c3c;
  color:white;
  border-bottom:5px solid #c0392b;
  cursor:pointer;
}
.r  -password:focus {
  border:1px solid #FF5252;
}
.r-username:focus {
  border:1px solid #FF5252;
}
.r-email:focus {
  border:1px solid #FF5252;
}
.accent-text {
  color: #e74c3c;
  transition:color 1s;
}*/

/*# sourceMappingURL=app.css.map */
