body {
  margin: 0 !important;
  font-family: 'Raleway', sans-serif !important;
  //font-size: 10px !important;
}

.site-header {
  text-align: center;
  width: 100%;
  height: 40px !important;
  padding-top: 5px;
  background: #3c6996;
  color: white;
  font-size: 14px;
  span {
    font-weight: bold;
  }
}

.fill-page-container {
  //overflow: scroll;
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  left: 0;
  margin: 0;
}

.user-section {
  padding: 2px;
  width: 200px;
  height: 30px;
  background: rgba(0, 0, 0, .12);
  display: flex;
  right: 30px;
  top: 5px;
  position: absolute;
  border-radius: 5px;
  img {
    height: 25px;
    width: 25px;
    padding: 2px;
    border-radius: 50%;
  }
  span {
    margin-left: 10px;
  }
  i {
    margin-top: 5px;
    right: 15px;
    position: absolute;
  }
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;*/
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fa-white {
  color: white;
}

input[type=text] {
  /*  border-radius: 5px;
    width: 200px;
    font-size: 14px;
    margin-bottom: 5px;*/
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}