.text-content {
  margin: 5px;
  width: 100%;
  border-radius: 6px;
  min-height: 80px;
  border: none;
}

.btn-add {
  background: #0bad25;
  border-radius: 6px;
  color: white;
  border: none;
}

.btn-cancel {
  background: none;
  border-radius: 6px;
  color: darkgray;
  border: none;
  font-size: 20px;
}

.btn-margin {
  padding: 6px;
}