.dashboard-container {
  width: 95vw;
  height: 90vh;
  margin: 25px auto;
  background: rgba(110, 123, 145, 0.5);
  position: relative;
  color: white;

}
.sub-header {
  color: white;
  text-align: center;
  padding-top: 5px;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
}
