.new-card {
  margin-bottom: -4px;
  //position: absolute;
  padding-top: 10px;
  bottom: 0;
  left: 2px;
  width: 95%;
  height: 30px;
  a {
    font-size: 12px;
    color: black;
    cursor: pointer;
  }
}

.item-card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  min-height: 50px;
  min-width: 50px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  color: black;
}

.item-card:hover {
  background: lightsteelblue;
  cursor: pointer;
}

.card-id-container {
  //This fixes the overlapping of card-content but the id tag is now no longer in the top
  //  position: absolute;
  top: 0;
  left: 0;
  background-color: darkorange;
  border-top-left-radius: 5px;
  font-weight: bold;
  font-size: 8px;
  display: inline-block;
}

.card-label-container {
  position: absolute;
  top: 0;
  right: 3px;
  display: inline-block;

  .card-label {
    font-size: 8px;
    color: white;
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
  }
}

.card-details-container {
  display: inline-block;
}

.card-content {
  margin: 10px;
  font-size: 12px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-bottom: 5px;
  }
}

.card-footer {
  margin: 10px;
  padding: 5px;
  .card-members {
    position: relative;
    bottom: 0;
    right: 3px;
    img {
      border-radius: 5px;
    }
  }
}

/* LABEL TEST */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 50%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #636b6f;
  margin-right: 4px;
}

.label-red {
  background-color: red;
}

.label-green {
  background-color: #0bad25;
}

.label-bg {
  font-size: 70%;
}

.border-red {
  border: 2px red solid;
}

.border-orange {
  border: 2px orange solid;
}